---
layout: default
---

<section class="main-content">


    <article class="module color-3">
    <h1> Welcome! </h1>
    This is the official website for the Spring 2017 Peer-led Biocomputing Group at UT Austin, offered through the <a href="http://ccbb.biosci.utexas.edu/">Center for Computational Biology and Bioinformatics</a>. The goal of this class is to take away any fear of programming that you may have so that computing can become an advantage rather than a barrier to your research. 
    <br><br>
    The class will meet on Fridays from 1-2 PM in PAT 143. In addition, feel free to join us for Open Coding Hour at Wednesdays 4-5 PM in the CCBB conference room (GDC 7.514) for any extra help or feedback.      
    <br><br>
    Please use the links to the left for contact information and some useful biocomputing resources. Please also feel free to participate in the <a href="https://groups.google.com/forum/#!forum/utbiocomputing">Biocomputing Google Groups Forum</a> with any questions that you have as you begin your biocomputing journey!
    <br><br>
        
    
    <h2> Installation and Setup Instructions </h2>
    We will be connecting to the CCBB's Biocomputing Pod, which requires you to set up both a TACC account and an RCTF account. Instructions are located <a href="https://wikis.utexas.edu/display/RCTFusers/POD+Accounts/">here</a>. It can take a few days for the RCTF account creation to go through. <br /><br />It's a good idea to also install a text editor. If you are using a <strong>Mac</strong>, some excellent options are either <a href="http://www.barebones.com/products/textwrangler/">Text Wrangler</a>, <a href="http://www.sublimetext.com/2">Sublime Text</a>, or <a href="https://atom.io/">Atom</a>. <strong>Linux</strong> users have a built-in text editor called <strong>gedit</strong>. <strong>Windows</strong> users can check out <a href="https://notepad-plus-plus.org/">Notepad++</a>. 
    <br><br>
    If you need any help, come to Open Coding Hour or email Katie at <a href="mailto:klyons19@gmail.com"> klyons@gmail.com</a>
	</article>
    
    
    <article class="module color-3">
    
        <h1> Schedule and Materials </h1>
        <table>
            <tr>
                <th>Date</th> 
                <th>Topic</th>
                <th>Materials (Download Link)</th>
                <th>Instructor</th>
            </tr>

        {% for post in site.posts reversed %}
             <tr>
                 <td> {{ post.date | date: '%B %d, %Y' }} </t>
                 <td align="left"> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> </td>
                 <td> <a href="{{ post.materials }}">Cheatsheet and Files</a></td> 
                 <td> {{ post.instructor }} </td> 
              </tr>   

        {% endfor %}
        </table>
    
    
    
    
    </article>


    <!--
   {% for post in site.posts %}
        <article class="module color-3">
                <h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
                <span class="category">{{ post.categories | array_to_sentence_string }}</span>
                <p>{{ post.excerpt | strip_html | truncate: 250 }}</p>
        </article>
    {% endfor %}

   
    <div class="module pagination color-3">
        {% if paginator.previous_page %}
            <a href="{{ site.url }}{{ paginator.previous_page_path }}" class="previous">Previous</a>
        {% endif %}

        <span class="page_number">&mdash; {{ paginator.page }} of {{ paginator.total_pages }} &mdash;</span>

        {% if paginator.next_page %}
            <a href="{{ site.url }}{{ paginator.next_page_path }}" class="next">Next</a>
        {% endif %}
    </div>-->

</section>


